name: Publish Wiki

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install MkDocs and plugins
      run: |
        pip install mkdocs
        pip install mkdocs-material
        pip install mkdocs-gitbook
        pip install mkdocs-include-dir-to-nav
        pip install mkdocs-awesome-pages-plugin

    - name: Build MkDocs
      run: mkdocs build --config-file mkdocs.yml

    - name: Commit and push changes
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "GitHub Actions"
        git add .
        git commit -m "Update wiki files" || echo "No changes to commit"
        git push || echo "No changes to push"

    - name: Deploy to gh-pages branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
